name: Build and Release

on:
  push:
    tags:
      - "v*.*.*"   # runs only when you push a version tag

jobs:
  build-mac:
    name: macOS (Intel + ARM)
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build mac ARM64
        run: npm run dist:mac:arm

      - name: Build mac x64 (Intel)
        run: npm run dist:mac:intel

      - name: Upload mac artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.dmg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-win:
    name: Windows EXE
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build Windows NSIS
        run: npm run dist:win

      - name: Upload Windows artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}